/**/build/*
!/**/proto/build/*
!/**/src/**/build/*
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
/local.properties
/.gradle
/.idea
*.iml
/.tmp
# Cache of project
/.gradletasknamecache
# Ignore Gradle GUI config
/gradle-app.setting
